.auth-content {
  flex: 1 1 auto;
  padding-bottom: rem(65);

  &__top {
    margin-bottom: rem(32);
  }

  &__list {
    @include flex-v-center;

    flex-wrap: wrap;
  }

  &__item {
    @include flex-v-center;

    &:not(:last-child) {
      &::after {
        content: "";
        display: block;
        flex-shrink: 0;
        width: rem(20);
        height: rem(1);
        background-color: var(--grey-5);
      }
    }
  }

  &__link {
    display: flex;
    margin: 0 auto;
    padding: rem(12) rem(10);
    width: fit-content;
    font-family: inherit;
    font-weight: 500;
    line-height: 120%;
    color: var(--grey-3);

    &--active {
      color: var(--black);
    }
  }

  &__next {
    display: flex;
    align-items: baseline;
    margin-top: rem(60);
    border-radius: rem(5);
    padding: rem(20);
    background-color: var(--orange-50);
    gap: 32px;
  }

  &__checkbox {
    align-items: flex-start;
    max-width: 388px;
  }

  &__buttons {
    display: flex;
    // margin-right: 0;
    // margin-left: auto;
    gap: rem(10);
  }

  &__btn {
    &--back {
      .btn__icon {
        transform: scale(-1, 1);
      }
    }
  }

  &__avatar {
    margin-bottom: rem(32);
  }

  &__new-user {
    margin-bottom: rem(60);

    &:not(:last-of-type) {
      margin-bottom: rem(10);
    }

    &--includes {
      .auth-content__add-svg {
        display: none;

        &.auth-content__add-svg--remove {
          display: block;
        }
      }
    }
  }

  &__wrapper {
    padding-top: rem(32);
  }
  &__title {
    // cursor: pointer;
  }
  &__up {
    @include flex-all-sb;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: rem(1) solid var(--grey-5);
    // padding: rem(10) rem(10) rem(18);

    .auth-content__title {
      margin: 0;
      border: none;
      padding: 0;
    }
  }

  &__add {
    &-svg {
      display: block;
      width: rem(20);
      height: rem(20);
      fill: var(--black);

      &--remove {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        fill: none;
        stroke: var(--grey-1);
        stroke-width: 0.08125rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: rem(32);
    gap: rem(20) rem(30);

    &--mb-60 {
      margin-bottom: rem(60);
    }

    &--mb-0 {
      margin-bottom: 0;
    }
  }

  &__title {
  
    margin-bottom: rem(24);
    border-bottom: rem(1) solid var(--grey-5);
    padding-bottom: rem(8);
    font-weight: 500;
    font-size: rem(20);
  }

  &__message {
    margin: 0 auto;
    max-width: rem(560);
  }

  &__head {
    margin-bottom: 30px;
    font-weight: 600;
    font-style: normal;
    font-size: rem(24);
    line-height: 1.2;
    text-align: center;
  }

  &__smile {
    @include flex-all-center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(20);
    border: rem(2) dashed var(--blue-50);
    border-radius: rem(5);
    padding: rem(28) rem(25);
    gap: rem(10);

    &-svg {
      flex-shrink: 0;
      width: rem(70);
      height: rem(70);
      fill: var(--orange-500);
    }

    &--bad {
      border-color: var(--orange-500);
    }
  }

  &__text {
    p {
      margin-bottom: 20px;
      font-weight: 500;
      font-style: normal;
      font-size: rem(16);
      line-height: 1.2;
      color: var(--grey-3);

      + p {
        margin-top: rem(20);
      }
    }
  }

  &__description {
    margin: 0 auto;
    max-width: rem(520);
    text-align: center;
    color: var(--grey-4);
  }

  &--center {
    @include flex-all-center;
  }
  &__form-button {
    padding: 20px 0 20px 20px;
    margin-top: 97px;
    border-radius: 5px;
    background-color: #fff8ed;
  }
  &__from-btn {
    max-width: 236px;
  }
  &__down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    margin-bottom: 24px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
  }
  &__titleuser {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color:  #1c1c1c;
  }
}
.content {
  display: none;
}

/* Стили для аккордеона */
input[type="radio"] {
  display: none;
}

.auth__save-content {
  display: flex;
  gap: 8px;
  max-width: 236px;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffa349;
  color: #fff;
}

/* Добавляем стиль для активной радиокнопки */

/* Показываем содержимое активной радиокнопки при загрузке страницы */
input[type="radio"]:checked + label + .content {
  display: block;
}
.load-button__save {
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ffa349;
  color: #fff;
}
.load-box__save {
  margin-top: 60px;
  padding: 20px 0 20px 16px;
  border-radius: 5px;
  background: #fff8ed;
}
.auth__container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  border-bottom: 1px solid #e0e0e0;
  color: #1c1c1c;
}
.uth__container__title-span {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  border-bottom: 1px solid #e0e0e0;
  color: #1c1c1c;
}
.auth__container-info {
  margin-top: 24px;
}
.content__photo {
  margin-bottom: 32px;
}

.auth-content__buttons {
  background-color: #fff8ed;
  padding: 20px 0 20px 20px;
}

@include mq("lg") {
  .auth-content {
    &__title {
      margin-bottom: rem(32);
    }

    &__top {
      display: none;
    }
  }
  .from__list {
    width: 336px;
  }
  .dropdawn__list {
    width: 336px;
    left: 19px;
  }
  .dropdawn__list-item {
    width: 100%;
    text-align: center;
  }
  .auth-content__text p {
    text-align: center;
    max-width: 235px;
  }
}

@include mq("md") {
  .auth-content {
    &__message {
      margin: 0;
      max-width: 100%;
    }

    &__smile {
    

      padding: rem(20) rem(15);

      &--mobile {
        align-items: flex-start;
      }
    }

    &__head {
      font-size: rem(20);
    }

    &__next {
      flex-direction: column;
      align-items: flex-start;
      margin-top: rem(32);
      margin-left: rem(-15);
      width: calc(100% + rem(30));
      gap: rem(16);
    }

    &__buttons {
      flex-direction: column;
      width: 100%;
    }

    &__btn {
      width: 100%;

      &.btn--trans {
        width: 100%;
      }
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: rem(20);
    }
  }
  .dropdawn__list {
    left: 25px;
  }
}
.form__regist {
  margin-bottom: 90px;
}
// style div calendar
.auth-content__calendar {
  display: flex;
  gap: 211px;
}
// style calendar month
.dropdown {
  position: relative;
}
.dropdawn__button {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
  // display: block;
  text-align: left;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.dropdawn__list {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  height: 280px;
  overflow-y: auto;
  z-index: 1;
  padding: 12px 16px !important;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.dropdawn__list::-webkit-scrollbar {
  width: 3px;
  height: 83px;
  border: 10px;
}
.dropdawn__list::-webkit-scrollbar-thumb {
  background-color: #a6c0fb;
}

.dropdawn__list-item {
  width: 80px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  background-color: #eef4ff;
}
.dropdawn__list-item:hover {
  background-color: #c8d9fd;
}
.dropdawn__list--visible {
  display: block;
}
.dropdown__ipnut-hidden {
  display: none;
}
.dropdown__nav {
  display: flex;
  align-items: center;
}
// style calendar month//

//style calendar data
.from__data-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.from__list {
  display: none;
  position: absolute;
  right: 67px;
  top: 70px;
  height: 280px;
  overflow-y: auto;
  width: 112px;
  padding: 12px 16px !important;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #fff;
  z-index: 1;
}
.from__list::-webkit-scrollbar {
  width: 3px;
}
.from__list::-webkit-scrollbar-thumb {
  background-color: #a6c0fb;
  border-radius: 10px;
}
.from__list-item {
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  font-family: Roboto;
  border-radius: 3px;
  color: #1c1c1c;
  background-color: #eef4ff;
}
.from__list-item:hover {
  background-color: #c8d9fd;
}
.from__list--visible {
  display: block;
}
.from__data-dropdown {
  position: absolute;
}
.from__data-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.from__data-span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #1c1c1c;
}
//style calendar data//

// style form regist
.form__new-user {
  padding: 8px 16px;
  margin-bottom: 60px;
  display: none;
  align-items: end;
  gap: 8px;
  border: 1px solid #ffa349;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: #1c1c1c;
}
.close {
  display: none;
}
.open {
  display: block;
}

.open-element {
  display: flex;
}
.form__verified {
  display: flex;
  align-items: center;
  gap: 20px;
}

