.header {
  &__left {
    @include flex-v-center;

    gap: rem(20);
  }

  &__back {
    display: none;
    width: rem(24);
    height: rem(24);
    transform: scale(-1, 1);

    &-svg {
      width: rem(24);
      height: rem(24);
      fill: var(--grey-3);
    }
  }

  &__manual {
    @include flex-all-center;

    border-radius: var(--br);
    width: rem(32);
    height: rem(32);
    background-color: var(--bg);

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--blue-300);
    }
  }

  &__right {
    @include flex-v-center;
  }

  &__inner {
    @include flex-all-sb;

    padding-top: rem(30);
    padding-bottom: rem(40);
  }

  &__block {
    position: relative;
    display: flex;
  }

  &__title {
    font-weight: 600;
    font-style: normal;
    font-size: rem(24);
    line-height: 1.2;
  }

  &__buttons {
    @include flex-v-center;

    gap: rem(12);
  }

  &__btn {
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.2;

    &--active {
      border-bottom: rem(1) solid var(--blue-400);
      padding-top: rem(1);
      color: var(--blue-400);
    }
  }

  &__time {
    @include flex-v-center;

    margin-right: rem(22);
  }

  &__user {
    @include flex-v-center;

    gap: rem(12);
  }

  &__notifications {
    &-svg {
      width: rem(26);
      height: rem(26);
      fill: var(--grey-4);
    }

    &--active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: rem(2);
        top: rem(1);
        display: block;
        border-radius: 50%;
        width: rem(10);
        height: rem(10);
        background-color: var(--orange-400);
      }
    }
  }

  &__avatar {
    overflow: hidden;
    border-radius: 50%;
    width: rem(34);
    height: rem(34);

    img {
      @include fill-image(cover);
    }
  }

  &__wrapper {
    position: absolute;
    right: 0;
    top: calc(100% + rem(10));
    z-index: var(--ui-index-2);
    background-color: transparent;
    visibility: hidden;

    &--active {
      visibility: unset;

      .header__info {
        opacity: 1;
        visibility: unset;
        transform: translate(0);
      }
    }
  }

  &__info {
    border-radius: rem(10);
    padding: rem(24);
    width: rem(236);
    box-shadow: 0 rem(8) rem(24) 0 rgba(0, 0, 0, 13%);
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translateX(rem(30));
    transition: 0.2s ease;
  }

  &__list {
    margin-bottom: rem(16);
    border-bottom: rem(1) solid var(--grey-6);
    padding-bottom: rem(16);
  }

  &__item {
    @include mb(rem(15));
  }

  &__language {
    display: flex;
  }

  &__lang {
    @include flex-all-center;

    border-top: 1px solid var(--grey-4);
    border-right: 1px solid var(--grey-4);
    border-bottom: 1px solid var(--grey-4);
    width: rem(60);
    height: rem(33);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: var(--grey-4);
    background-color: var(--white);

    &:first-child {
      border-top-left-radius: var(--br);
      border-bottom-left-radius: var(--br);
    }

    &:last-child {
      border-top-right-radius: var(--br);
      border-bottom-right-radius: var(--br);
    }

    &--active {
      border: none;
      color: var(--white);
      background-color: var(--orange-400);
    }
  }

  &__link {
    @include flex-v-center;

    line-height: 1;
    gap: rem(10);

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--grey-3);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: rem(16);
    border-bottom: rem(1) solid var(--grey-6);
    padding-bottom: rem(16);
    gap: rem(12);

    &-name {
      @include truncate(100%);

      flex: 1;
      font-weight: 500;
    }

    &-image {
      display: none;
      flex-shrink: 0;
      border-radius: 50%;
      width: rem(50);
      height: rem(50);
      object-fit: cover;
    }
  }

  &__go {
    @include flex-v-center;

    gap: rem(16);
  }

  &__date {
    display: none;
    font-weight: 500;
    font-size: rem(13);
    white-space: nowrap;
    color: var(--grey-3);
  }

  &__close {
    display: none;
    flex-shrink: 0;
    width: rem(24);
    height: rem(24);
    transform: scale(-1, 1);

    &-svg {
      width: rem(24);
      height: rem(24);
      fill: var(--grey-3);
    }
  }

  &__lesson {
    @include flex-v-center;

    gap: rem(8);
  }

  &--lesson {
    .header {
      &__inner {
        border-bottom: rem(1) solid var(--grey-4);
      }

      &__left {
        gap: rem(16);
      }
    }
  }

  &__hours,
  &__minutes,
  &__seconds {
    font-weight: 400;
    font-size: rem(24);
    line-height: normal;
  }

  &__hours,
  &__minutes {
    &::after {
      content: ':';
    }
  }
}

@include mq('lg') {
  .header {
    margin: 0;

    &__manual {
      display: none;
    }

    &__date {
      display: block;
    }

    &__top {
      margin-bottom: rem(28);
      padding-bottom: rem(28);

      &-name {
        font-size: rem(20);
      }

      &-image {
        display: block;
      }
    }

    &__list {
      margin-bottom: rem(28);
      padding-bottom: rem(28);
    }

    &__link {
      font-weight: 500;
      font-size: rem(18);

      &-svg {
        width: rem(35);
        height: rem(35);
      }
    }

    &__language {
      height: rem(40);
    }

    &__lang {
      flex: 1;
      height: 100%;
    }

    &__close {
      display: block;
    }

    &__wrapper {
      position: fixed;
      z-index: var(--ui-index-5);
      display: flex;
      justify-content: flex-end;
      height: var(--app-height);
      transition: 0.2s ease;
      inset: 0;

      &--active {
        background-color: rgba(#000, 0.5);
      }
    }

    &__info {
      overflow: hidden auto;
      border-radius: 0;
      padding: rem(28) rem(15);
      width: rem(360);
      transform: translateX(100%);
      transition: 0.5s var(--ease-in-out);
    }

    &__avatar {
      width: rem(30);
      height: rem(30);
    }

    &__buttons {
      display: none;
    }

    &__inner {
      padding: rem(20) 0;
    }

    &__time {
      display: none;
    }

    &__back {
      display: flex;
    }

    &--lesson {
      .header {
        &__left {
          flex-direction: column;
          align-items: stretch;
          width: 100%;
          gap: rem(36);
        }

        &__inner {
          padding-bottom: rem(12);
        }

        &__link {
          width: 100%;
        }

        &__title {
          font-weight: 700;
          font-size: rem(18);
        }

        &__right {
          display: none;
        }
      }
    }
  }
}
