.table {
  border: rem(1) solid #e0e0e0;
  border-collapse: collapse;
  border-radius: rem(10);
  width: 100%;

  &__block-info {
    max-width: px;
    border: rem(1) solid  #e0e0e0;
    border-radius: rem(10);
    padding: rem(12) rem(16);
    background: #fff;
  }

  &__block__info-img {
    margin-bottom: rem(8);
    max-width: rem(65);
  }

  &__block__info__box-name {
    margin-bottom: rem(8);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    line-height: 120%;
    color: #1c1c1c;
  }

  &__block__info__box-job {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: rem(12);
    line-height: 120%;
    color:  #828282;
  }



  &__header-td {
    border: none;
    padding: rem(14) rem(20);
    font-weight: 500;
    font-size: rem(10);
    line-height: 120%;
    color: #bdbdbd;
  }
// про избегание метода знаю ,но это исключение поскольку в других случаях не работает 
  &__content--emptiness {
  border: none !important;
  }

  &__content--title {
    background-color: #eef4ff;

    td {
      border: transparent;
    }
  }

  &__content-td {
    border: 1px solid #c8d9fd;
    padding: rem(22) rem(20);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    text-transform: uppercase;
    color: #4f4f4f;
    // align: content;
  }

  &__footer {
    padding: rem(16);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    color: #4f4f4f;
    background-color: #ffefd4;
    border: rem(1) solid #BDBDBD;
  }

  &__footer-td {
    padding: rem(18) rem(30) rem(19) rem(18);
  }

  &__block--violation {
    color: #eb5757;
  }

  &__result--sum {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: rem(18);
    line-height: 120%;
    color: #333;
  }

  
}
