.teacher-card {
  &__left-teacher {
    margin-left: rem(20);
  }

  &__right {
    // margin-right: rem(143);
  }

  &__sctatistic {
    border-radius: rem(10);
    padding: rem(20);
    background-color: #eef4ff;
  }

  &__card-top {
    position: relative;
  }

  &__name {
    cursor: pointer;
  }

  &__lesson__top-span {
    position: absolute;
    top: rem(1);
  }

  &__card__top-image {
    max-width: rem(65);
  }

  &__title-block {
    margin: rem(60) 0 rem(60);
    border-bottom: rem(1) solid #e0e0e0;
    padding-bottom: rem(8);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    color: #1c1c1c;
  }

  &__top-info {
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
    gap: rem(20);
  }

  &__sctatistic__item-svg {
    width: rem(16);
    height: rem(16);
    fill: #a6c0fb;
  }

  &__top-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    color: #1c1c1c;
  }

  &__sctatistic-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sctatistic__list-item {
    border: rem(1) solid  #c8d9fd;
    border-radius: rem(5);
    padding: rem(16);
    background: #fff;
  }

  &__sctatistic__item-title {
    margin-bottom: rem(64);
    max-width: rem(119);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    color: #1c1c1c;
  }

  &__sctatistic__item-box {
    display: flex;
    align-items: center;
    gap: rem(55);
  }

  &__sctatistic__list-text {
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    color: #bdbdbd;
  }

  &__sctatistic__list-span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(40);
    color: #ffa349;
  }

  &__document {
    max-width: rem(205);
  }

  &-classroom__card {
    display: flex;
    gap: rem(143);
  }
}

@include mq('xz') {
  .teacher-card {
    &__sctatistic-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);
    }

    &__sctatistic__item-box {
      justify-content: space-between;
    }

    &__sctatistic__item-title {
      max-width: none;
    }
  }
}

@include mq('md') {
  .teacher-card {
    &__sctatistic-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mq('sm') {
  .teacher-card {
    &__sctatistic-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
