<div class="modal modal--big add-link">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <div class="modal__wrapper">
          <h2 class="modal__title">Додати посилання</h2>
          <div class="modal__field field">
            <div class="field__wrapper">
              <p class="modal__field-text">Посилання</p>
              <input type="text" class="field__input input modal__field-link" placeholder="Вставте посилання" />
              <svg class="nav__link-svg modal__field-svg">
                <use xlink:href="img/sprite.svg#links"></use>
              </svg>
              <p class="modal__field-text">Коментар до роботи</p>
              <textarea class="field__input input modal__field-textrea"></textarea>
              <div class="modal__field-button">
                <button class="btn btn--accent modal__field-btn">Зберегти</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
