<div class="modal modal--big add-link">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <h2 class="modal__title">Додати посилання</h2>
        <div class="modal__link-wrapper">
          <form class="modal__link-form">
            <label class="modal__link-label">
              <span class="modal__link__lable-span"> Посилання </span>
              <svg class="modal__link__lable-svg">
                <use xlink:href="/img/sprite.svg#link"></use>
              </svg>
              <input class="modal__link__label-input" type="text" placeholder="Вставте посилання" />
            </label>
            <label class="modal__link-label">
              <span class="modal__link__lable-span"> Коментар до роботи </span>
              <textarea class="modal__link-texttarea" placeholder="Мій коментар"></textarea>
            </label>
          </form>
        </div>
        <div class="modal__link-button">
          <button class="modal__link-btn">Зберегти</button>
        </div>
      </div>
    </div>
  </div>
</div>
