<div class="modal modal--big gears">
    <div class="modal__body">
      <div class="modal__content">
        <div class="modal__main">
          <button class="modal__close">
            <svg class="modal__close-svg">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <h2 class="modal__title">Налаштування сповіщень</h2>
  
          <div class="modal__wrapper modal__wrapper-gears">
              <span class="modal__wrapper-span">Поставлена нова оцінка</span>
            <label  class="modal__label">
              <input class="modal__label-input" type="checkbox">
              <span class="modal__label-cheked"></span>
            </label>
            </div>
            <div class="modal__wrapper modal__wrapper-gears">
              <span class="modal__wrapper-span">Урок вже почався</span>
            <label  class="modal__label">
              <input class="modal__label-input" type="checkbox">
              <span class="modal__label-cheked"></span>
            </label>
            </div>
            <div class="modal__wrapper modal__wrapper-gears">
              <span class="modal__wrapper-span">Вчитель дозволив перездати</span>
            <label  class="modal__label">
              <input class="modal__label-input" type="checkbox">
              <span class="modal__label-cheked"></span>
            </label>
            </div>
            <div class="modal__wrapper modal__wrapper-gears">
              <span class="modal__wrapper-span">Батьки оплатили новий курс</span>
            <label  class="modal__label">
              <input class="modal__label-input" type="checkbox">
              <span class="modal__label-cheked"></span>
            </label>
            </div>

        </div>
      </div>
    </div>
  </div>
  