<div class="modal modal--big gears">
    <div class="modal__body">
      <div class="modal__content">
        <div class="modal__main">
          <button class="modal__close">
            <svg class="modal__close-svg">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <h2 class="modal__title">Налаштування сповіщень</h2>
  
          <div class="modal__wrapper">
          <form f class="modal__form">
            <label class="modal__from-checkbox" for="checkbox">
              <input class="modal__span-input" type="checkbox" id="checkbox">
               <!--inner  -->
              <span class="modal__span-text">Поставлена нова оцінка</span>
            </label>
            
          </form>
          <form f class="modal__form">
            <span class="modal__span-text">Поставлена нова оцінка</span>
            <input type="checkbox" id="checkbox">
          </form>
          <form f class="modal__form">
            <span class="modal__span-text">Поставлена нова оцінка</span>
            <input type="checkbox" id="checkbox">
          </form>
          <form f class="modal__form">
            <span class="modal__span-text">Поставлена нова оцінка</span>
            <input type="checkbox" id="checkbox">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  