<div class="modal go-out">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Ви впевнені, що хочете вийти?</h2>

        <div class="modal__wrapper">
          <p class="modal__wrapper__wants-text">
            Всі внесені зміни не будуть збережені
          </p>
        </div>
        <div class="modal__wrapper__wants-button">
          <button class="modal__wrapper__wants-btn btn btn--accent">ОК</button>
        </div>
      </div>
    </div>
  </div>
</div>
