<div class="modal teacher-card-student modal--mobile">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main sumIncrease">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Бойко Василь Петрович</h2>
        <div class="modal__wrapper">
          <div class="modal__card">
            <div class="modal__card-image">
              <img class="modal__card-img" src="../../img/static/photo-teacher-profil.png" alt="">
            </div>
            <ul class="personal-cabinet__list modal__cabinet--list">
              <li class="personal-cabinet__item">
                <div class="personal-cabinet__wrapper">
                  <span class="personal-cabinet__label">Викладач</span>
                  <div class="personal-cabinet__line"></div>
                  <time class="personal-cabinet__value">Біології, хімії, Класний керівник</time>
                </div>
              </li>
              <li class="personal-cabinet__item">
                <div class="personal-cabinet__wrapper">
                  <span class="personal-cabinet__label">Дата народження</span>
                  <div class="personal-cabinet__line"></div>
                  <span class="personal-cabinet__value">03.05.1990</span>
                </div>
              </li>
              <li class="personal-cabinet__item">
                <div class="personal-cabinet__wrapper">
                  <span class="personal-cabinet__label">Стать</span>
                  <div class="personal-cabinet__line"></div>
                  <span class="personal-cabinet__value">Чоловік</span>
                </div>
              </li>
              <li class="personal-cabinet__item">
                <div class="personal-cabinet__wrapper">
                  <span class="personal-cabinet__label">Місто</span>
                  <div class="personal-cabinet__line"></div>
                  <span class="personal-cabinet__value">Київ</span>
                </div>
              </li>
              <li class="personal-cabinet__item">
                <div class="personal-cabinet__wrapper">
                  <span class="personal-cabinet__label">Клас</span>
                  <div class="personal-cabinet__line"></div>
                  <span class="personal-cabinet__value">8Б</span>
                </div>
              </li>
            </ul>
              <button class="modal__card-button btn btn--accent"> 
                <svg class="modal__card-svg">
                  <use xlink:href="/img/sprite.svg#message"></use>
                </svg>
                Написати
              </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
