<div class="modal wants-to-finish">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        
        <div class="modal__wrapper">
          <h2 class="modal__title">Ви впевнені, що хочете закінчити?</h2>
          <p class="modal__wrapper__wants-text">
            Ваші зміни врахуються тільки якщо вони пройдуть можерацію. Рішення про вистовок модерації ви отримаєте
            сповіщенням в своєму кабінеті.
          </p>
          <p class="modal__wrapper__wants-text">
            Якщо через 24 годин після відправлення змін ви не отримали сповіщення про рішення модерації, зверніться до
            служби підтримки.
          </p>
          <div class="modal__wrapper__wants-button">
            <button class="btn btn--accent modal__wrapper-finish">зберегти і відправити на модерацію</button>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
