@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/functions', 'abstracts/mixins', 'abstracts/variables';

// 2. Vendors
@import 'vendors/index';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/helpers';

// 4. Layout-related sections
@import 'layout/auth-layout';
@import 'layout/base-layout';
@import 'layout/lesson-layout';

// 5. Components ui
@import 'components/UI/btn';
@import 'components/UI/load-avatar';
@import 'components/UI/field';
@import 'components/UI/input';
@import 'components/UI/select';
@import 'components/UI/radio';
@import 'components/UI/checkbox';
@import 'components/UI/document';
@import 'components/UI/link';
@import 'components/UI/teacher';
@import 'components/UI/teacher-card';
@import 'components/UI/lesson';
@import 'components/UI/progress';
@import 'components/UI/tooltip';
@import 'components/UI/todo-item';
@import 'components/UI/statistics-block';
@import 'components/UI/rating-block';
@import 'components/UI/course-progress';
@import 'components/UI/recommended-card';
@import 'components/UI/theme-card';
@import 'components/UI/todo-block';
@import 'components/UI/marks';
@import 'components/UI/pagination';
@import 'components/UI/editor';
@import 'components/UI/subject-card';
@import 'components/UI/plan';
@import 'components/UI/types';
@import 'components/UI/material-card';
@import 'components/UI/table';
@import 'components/UI/date';
@import 'components/UI/stepper';
@import 'components/UI/lesson-card';
@import 'components/UI/lesson-label';
@import 'components/UI/lessons-schedule';
@import 'components/UI/lesson-modal';
@import 'components/UI/occupation';
@import 'components/UI/calendar';
@import 'components/UI/loader';

// 6. All Components
@import 'components/header';
@import 'components/auth-header';
@import 'components/auth-content';
@import 'components/aside';
@import 'components/nav';
@import 'components/document-block';
@import 'components/modal';
@import 'components/content';
@import 'components/schedule';
@import 'components/tip';
@import 'components/todo';
@import 'components/create';
@import 'components/statistics';
@import 'components/recommended';
@import 'components/banner';
@import 'components/content-tabs';
@import 'components/lesson-section';
@import 'components/maintenance';
@import 'components/subjects';
@import 'components/subject';
@import 'components/graph';
@import 'components/marks-table';
@import 'components/schedule-tabs';
@import 'components/schedule-table';
@import 'components/wallet';
@import 'components/personal-cabinet';
@import 'components/notifications';
@import 'components/footer';
@import 'components/personal-cabinet-child';
@import 'components/deposit';
@import 'components/teacher-class';
@import 'components/authorization';
@import 'components/teacher-assessments';
@import 'components/teacher-subject';
@import 'components/home-work-teacher';
@import 'components/table';
@import 'components/teacher-card';
@import 'components/teacher-lesson';
@import 'components/test-knowledge';
@import 'components/test-knowledge-list';
@import 'components/test-knowledge-item';

// new
@import 'components/modals';
@import 'components/login';
@import 'commponets/teacher-shedule';
@import 'commponets/teacher-week';

// обновил, добавил 10.11
// UI/table.scss 
// UI/lesson-modal.scss
// UI/select.scss
// UI/statistics-block.scss
// header.scss
// teacher-week.scss
// lesson-section
