<aside class="aside aside--main aside--hide">
  <div class="aside__wrapper">
    <button class="aside__btn" id="aside-btn">
      <svg class="aside__btn-svg">
        <use xlink:href="img/sprite.svg#aside-arrows"></use>
      </svg>
    </button>

    <div class="aside__top">
      <a href="/" class="aside__logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 22" fill="none">
          <g clip-path="url(#clip0_3870_96585)">
            <path d="M44.1914 0.431641H50.3825V21.844H44.1914V0.431641Z" fill="#FFC071" />
            <path
              d="M32.4235 0C29.951 0 28.0007 0.712432 26.5648 1.90067C25.1164 0.712432 23.1551 0 20.6836 0V6.00828C22.5078 6.00828 23.405 7.1793 23.405 9.08943V21.8443H29.7012V9.08943C29.7012 7.1793 30.5982 6.00828 32.4235 6.00828C34.2485 6.00828 35.1479 7.18361 35.1479 9.08943V21.8443H41.3692V9.08943C41.3657 4.12913 38.3747 0 32.4235 0Z"
              fill="#FE7C11"
            />
            <path
              d="M20.6821 15.8368C18.858 15.8368 17.9609 14.6658 17.9609 12.7557V0H11.6646V12.7557C11.6646 14.6658 10.7675 15.8368 8.94326 15.8368C7.11903 15.8368 6.22113 14.6658 6.22113 12.7557V0H0V12.7557C0 17.716 2.99111 21.8443 8.94326 21.8443C11.4149 21.8443 13.3652 21.1318 14.801 19.9436C16.2494 21.1318 18.2106 21.8443 20.6821 21.8443V15.8368Z"
              fill="#FE7C11"
            />
            <path d="M44.1562 0.394531H50.3535V21.828H44.1562V0.394531Z" fill="#FFC071" />
            <path
              d="M69.4369 6.06898H63.6617V21.828H57.4619V6.06898H51.6836V0.394531H69.4369V6.06898Z"
              fill="#FFC071"
            />
            <path
              d="M84.4215 13.1004V21.828H78.2538V13.1625L70.7695 0.394531H77.6856L81.338 7.36478L84.9601 0.394531H91.8761L84.4215 13.1004Z"
              fill="#FFC071"
            />
          </g>
          <defs>
            <clipPath id="clip0_3870_96585">
              <rect width="92" height="22" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
    <nav class="aside__navigation nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--home">
          <a href="#" class="nav__link nav__link--active">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#group"></use>
            </svg>

            <span class="nav__link-text">Головне</span>
          </a>
        </li>
        <li class="nav__item nav__item--wallet">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#wallet"></use>
            </svg>

            <span class="nav__link-text">Гаманець</span>
          </a>
        </li>
        <li class="nav__item nav__item--childrens">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#childrens"></use>
            </svg>

            <span class="nav__link-text">Діти</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#chat"></use>
            </svg>

            <span class="nav__link-text">Чаты</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#statistics"></use>
            </svg>

            <span class="nav__link-text">Статистика</span>
          </a>
        </li>
        <li class="nav__item">
          <div class="nav__accordion">
            <div class="nav__top">
              <a href="#" class="nav__link">
                <svg class="nav__link-svg">
                  <use xlink:href="img/sprite.svg#book"></use>
                </svg>
                <span class="nav__link-text">Предмети</span>
              </a>
              <button class="nav__open" aria-expanded="false" aria-label="Відкрити меню">
                <svg class="nav__open-arrow">
                  <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
                </svg>
              </button>
            </div>
            <div class="nav__down">
              <ul class="nav__sublist">
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Англ. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Всесвітня історія </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Історія України </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Математика </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Малювання </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. література </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізкультура </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізика </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav__item">
          <div class="nav__accordion">
            <div class="nav__top">
              <a href="#" class="nav__link">
                <svg class="nav__link-svg">
                  <use xlink:href="img/sprite.svg#cours"></use>
                </svg>
                <span class="nav__link-text">Курси</span>
              </a>
              <button class="nav__open" aria-expanded="false" aria-label="Відкрити меню">
                <svg class="nav__open-arrow">
                  <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
                </svg>
              </button>
            </div>
            <div class="nav__down">
              <ul class="nav__sublist">
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Основи образотворчого мистецтва </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Всесвітня історія </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Історія України </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Математика </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Малювання </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. література </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізкультура </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізика </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <div class="nav__tip tip">
        <div class="tip__wrapper">
          <button class="tip__button">
            <svg class="tip__button-svg">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <div class="tip__top">
            <img src="img/static/tip.svg" alt="tip" />
          </div>
          <div class="tip__content">
            <h2 class="tip__title">Підказка для вас</h2>
            <p class="tip__description">
              Щоб бути завжди в курсі своєї успішності — заходь у розділ “Статистика”. Там наведені всі твої оцінки за
              семестри, а також твою успішність по кожному предмету.
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</aside>
