@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/functions', 'abstracts/mixins', 'abstracts/variables';

// 2. Vendors
@import 'vendors/index';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/helpers';

// 4. Layout-related sections
@import 'layout/auth-layout';
@import 'layout/base-layout';
@import 'layout/lesson-layout';
@import 'layout/emplty-layout';
// 5. Components ui
@import '../../src/scss/components/ui/btn';
@import '../../src/scss/components/ui/load-avatar';
@import '../../src/scss/components/ui/field';
@import '../../src/scss/components/ui/input';
@import '../../src/scss/components/ui/select';
@import '../../src/scss/components/ui/radio';
@import '../../src/scss/components/ui/checkbox';
@import '../../src/scss/components/ui/document';
@import '../../src/scss/components/ui/link';
@import '../../src/scss/components/ui/teacher';
@import '../../src/scss/components/ui/teacher-card';
@import '../../src/scss/components/ui/lesson';
@import '../../src/scss/components/ui/progress';
@import '../../src/scss/components/ui/tooltip';
@import '../../src/scss/components/ui/todo-item';
@import '../../src/scss/components/ui/statistics-block';
@import '../../src/scss/components/ui/rating-block';
@import '../../src/scss/components/ui/course-progress';
@import '../../src/scss/components/ui/recommended-card';
@import '../../src/scss/components/ui/theme-card';
@import '../../src/scss/components/ui/todo-block';
@import '../../src/scss/components/ui/marks';
@import '../../src/scss/components/ui/pagination';
@import '../../src/scss/components/ui/editor';
@import '../../src/scss/components/ui/subject-card';
@import '../../src/scss/components/ui/plan';
@import '../../src/scss/components/ui/types';
@import '../../src/scss/components/ui/material-card';
@import '../../src/scss/components/ui/table';
@import '../../src/scss/components/ui/date';
@import '../../src/scss/components/ui/stepper';
@import '../../src/scss/components/ui/lesson-card';
@import '../../src/scss/components/ui/lesson-label';
@import '../../src/scss/components/ui/lessons-schedule';
@import '../../src/scss/components/ui/lesson-modal';
@import '../../src/scss/components/ui/occupation';
@import '../../src/scss/components/personal-cabinet-child';
@import '../../src/scss/components/UI/editor-teacher';

// 6. All Components
@import '../scss/components/header';
@import '../scss/components/auth-header';
@import '../scss/components/auth-content';
@import '../scss/components/aside';
@import '../scss/components/nav';
@import '../scss/components/document-block';
@import '../scss/components/modal';
@import '../scss/components/content';
@import '../scss/components/schedule';
@import '../scss/components/tip';
@import '../scss/components/todo';
@import '../scss/components/create';
@import '../scss/components/statistics';
@import '../scss/components/recommended';
@import '../scss/components/banner';
@import '../scss/components/content-tabs';
@import '../scss/components/lesson-section';
@import '../scss/components/maintenance';
@import '../scss/components/subjects';
@import '../scss/components/subject';
@import '../scss/components/graph';
@import '../scss/components/marks-table';
@import '../scss/components/schedule-tabs';
@import '../scss/components/schedule-table';
@import '../scss/components/wallet';
@import '../scss/components/personal-cabinet';
@import '../scss/components/notifications';
@import '../scss/components/footer';
@import '../scss/components/deposit';
@import '../scss/components/teacher-class';
@import '../scss/components/authorization';
@import '../scss/components/teacher-assessments';
@import '../scss/components/teacher-subject';
@import '../scss/components/home-work-teacher';
@import '../scss/components/table';
@import '../scss/components/teacher-card';
@import '../scss/components/login';
@import '../scss/components/teacher-week';

// тесты всяких сборок , удалить потом надо !!!!!!
@import '../scss/components/table-test-section'
