.auth-content {
  flex: 1 1 auto;
  padding-bottom: rem(65);

  &__top {
    margin-bottom: rem(32);
  }

  &__list {
    @include flex-v-center;

    flex-wrap: wrap;
  }

  &__item {
    @include flex-v-center;

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        flex-shrink: 0;
        width: rem(20);
        height: rem(1);
        background-color: var(--grey-5);
      }
    }
  }

  &__link {
    display: flex;
    margin: 0 auto;
    padding: rem(12) rem(10);
    width: fit-content;
    font-family: inherit;
    font-weight: 500;
    line-height: 120%;
    color: var(--grey-3);

    &--active {
      color: var(--black);
    }
  }

  &__next,
  &__final {
    display: flex;
    align-items: baseline;
    margin-top: rem(60);
    border-radius: rem(5);
    padding: rem(20);
    background-color: var(--orange-50);
    gap: 32px;
  }

  &__final {
    padding: 0;
  }

  &__change {
    & > svg {
      width: 20px;
      height: 20px;
      fill: var(--grey-3);
    }
  }

  &__add-parent {
    margin-bottom: rem(40);
  }

  &__checkbox {
    align-items: flex-start;
    max-width: 388px;
  }

  &__buttons {
    display: flex;

    // margin-right: 0;
    // margin-left: auto;
    gap: rem(10);

    border-radius: rem(5);
  }

  &__btn {
    &--back {
      .btn__icon {
        transform: scale(-1, 1);
      }
    }
  }

  &__avatar {
    margin-bottom: rem(32);
  }

  &__new-user {
    margin-bottom: rem(60);

    &:not(:last-of-type) {
      margin-bottom: rem(10);
    }

    &--includes {
      .auth-content__add-svg {
        display: none;

        &.auth-content__add-svg--remove {
          display: block;
        }
      }
    }
  }

  &__wrapper {
    padding-top: rem(32);
  }

  &__title {
    // cursor: pointer;
  }

  &__up {
    @include flex-all-sb;

    margin-bottom: 32px;
    border-bottom: rem(1) solid var(--grey-5);
    padding-bottom: 8px;

    // padding: rem(10) rem(10) rem(18);

    .auth-content__title {
      margin: 0;
      border: none;
      padding: 0;
    }
  }

  &__add {
    &-svg {
      display: block;
      width: rem(20);
      height: rem(20);
      fill: var(--black);

      &--remove {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        fill: none;
        stroke: var(--grey-1);
        stroke-width: 0.08125rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: rem(32);
    gap: rem(20) rem(30);

    &--mb-60 {
      margin-bottom: rem(60);
    }

    &--mb-0 {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: rem(24);
    border-bottom: rem(1) solid var(--grey-5);
    padding-bottom: rem(8);
    font-weight: 500;
    font-size: rem(20);
  }

  &__message {
    margin: 0 auto;
    max-width: rem(560);
  }

  &__head {
    margin-bottom: 30px;
    font-weight: 600;
    font-style: normal;
    font-size: rem(24);
    line-height: 1.2;
    text-align: center;
  }

  &__smile {
    @include flex-all-center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(20);

    // border: rem(2) dashed var(--blue-50);
    border-radius: rem(5);
    padding: rem(28) rem(25);
    gap: rem(10);

    &-svg {
      flex-shrink: 0;
      width: rem(70);
      height: rem(70);
      fill: var(--orange-500);
    }

    &--bad {
      border-color: var(--orange-500);
    }
  }

  &__text {
    text-align: center;

    p {
      margin-bottom: 20px;
      font-weight: 500;
      font-style: normal;
      font-size: rem(16);
      line-height: 1.2;
      color: var(--grey-3);

      + p {
        margin-top: rem(20);
      }
    }
  }

  &__description {
    margin: 0 auto;
    max-width: rem(520);
    text-align: center;
    color: var(--grey-4);
  }

  &--center {
    @include flex-all-center;
  }
  &__form-button {
    margin-top: 97px;
    border-radius: 5px;
    padding: 20px 0 20px 20px;
    background-color: #fff8ed;
  }

  &__from-btn {
    max-width: 236px;
  }

  &__down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main {
    margin-bottom: rem(40);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
  }

  &__titleuser {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #1c1c1c;
    gap: 20px;
  }

  &__finish-btn {
    border-radius: var(--5, 5px);
    padding: rem(8) rem(16);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #ffa349;
  }

  &--center {
    @include flex-all-center;
  }

  &__common-field {
    padding: rem(8) rem(16);
    margin-top: rem(4);

    border-radius: rem(5);
    border: rem(1) solid var(--blue-50);

    @include hover() {
      background-color: var(--blue-100);
      border-color: var(--blue-100);
    }
  }
}

/* Стили для аккордеона */
input[type='radio'] {
  // display: none;
}

.auth__save-content {
  display: flex;
  border-radius: 5px;
  padding: 8px 16px;
  max-width: 236px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffa349;
  cursor: pointer;
  gap: 8px;
}

/* Добавляем стиль для активной радиокнопки */

/* Показываем содержимое активной радиокнопки при загрузке страницы */
input[type='radio'] {
  &:not(:checked) + label + .content {
    display: none;
  }
  &:checked + label + .content {
    display: block;
  }
}

.load-button__save {
  display: flex;
  border-radius: 5px;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffa349;
  opacity: 0.5;
  gap: 8px;
}

.load-box__save {
  margin-top: 60px;
  border-radius: 5px;
  padding: 20px 0 20px 16px;
  background: #fff8ed;
}

.auth__container-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1c1c1c;
}

.uth__container__title-span {
  display: block;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1c1c1c;
}

.auth__container-info {
  margin-top: 24px;
}

.content__photo {
  margin-bottom: 32px;
}

.auth-content__buttons {
  padding: 20px 0 20px 20px;
  background-color: #fff8ed;
}

@include mq('lg') {
  .auth-content__smile {
    display: flex;
    align-items: center;
  }

  .auth-content {
    &__title {
      margin-bottom: rem(32);
    }

    &__top {
      display: none;
    }
  }

  .from__list {
    width: 336px;
  }

  .dropdawn__list {
    left: 19px;
    width: 336px;
  }

  .dropdawn__list-item {
    width: 100%;
    text-align: center;
  }

  .auth-content__text p {
    // max-width: 235px;
    text-align: center;
  }
}

@include mq('md') {
  .auth-content {
    &__message {
      margin: 0;
      max-width: 100%;
    }

    &__smile {
      padding: rem(20) rem(15);

      &--mobile {
        display: flex;
        align-items: center;

        // align-items: flex-start;
      }
    }

    &__head {
      font-size: rem(20);
    }

    &__next {
      flex-direction: column;
      align-items: flex-start;
      margin-top: rem(32);
      margin-left: rem(-15);
      width: calc(100% + rem(30));
      gap: rem(16);
    }

    &__buttons {
      flex-direction: column;
      width: 100%;
    }

    &__btn {
      width: 100%;

      &.btn--trans {
        width: 100%;
      }
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: rem(20);
    }
  }

  .dropdawn__list {
    left: 25px;
  }
}

.form__regist {
  margin-bottom: 90px;
}

// style div calendar
.auth-content__calendar {
  display: flex;
  gap: 211px;
}

// style calendar month
.dropdown {
  position: relative;

  &__overlay {
    display: none;

    position: fixed;
    inset: 0;
    z-index: 9147483647; //higher than datepicker
    width: 100vw;
    height: 100vh;

    background-color: rgba(28, 28, 28, 0.4);

    &.active {
      @include mq('lg') {
        display: block;

        & + .dropdawn__list.dropdawn__list--visible {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9247483647; //higher than datepicker
        }
      }
    }
  }
}
.dropdawn__button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;

  // display: block;
  text-align: left;
  background-color: #fff;
  gap: 12px;
}

.dropdawn__list {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  display: none;
  overflow-y: auto;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 12px 16px !important;
  height: 280px;
  background-color: #fff;
}

.dropdawn__list::-webkit-scrollbar {
  border: 10px;
  width: 3px;
  height: 83px;
}

.dropdawn__list::-webkit-scrollbar-thumb {
  background-color: #a6c0fb;
}

.dropdawn__list-item {
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 8px;
  width: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  background-color: #eef4ff;

  &.active {
    background-color: #c8d9fd;
  }

  @include hover() {
    background-color: #c8d9fd;
  }
}

.dropdawn__list--visible {
  display: block;
}

.dropdown__ipnut-hidden {
  display: none;
}

.dropdown__nav {
  display: flex;
  align-items: center;
}

// style calendar month//

//style calendar data
.from__data-btn {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  gap: 12px;
}

.from__list {
  position: absolute;
  right: 67px;
  top: 70px;
  z-index: 1;
  display: none;
  overflow-y: auto;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 12px 16px !important;
  width: 112px;
  height: 280px;
  background: #fff;
}

.from__list::-webkit-scrollbar {
  width: 3px;
}

.from__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a6c0fb;
}

.from__list-item {
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 4px 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #1c1c1c;
  background-color: #eef4ff;
  cursor: pointer;
}

.from__list-item:hover {
  background-color: #c8d9fd;
}

.from__list--visible {
  display: block;
}

.from__data-dropdown {
  position: absolute;
}

.from__data-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.from__data-span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #1c1c1c;
}

//style calendar data//

// style form regist
.form__new-user {
  display: none;
  align-items: end;
  margin-bottom: 60px;
  border: 1px solid #ffa349;
  border-radius: 5px;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #1c1c1c;
  cursor: pointer;
  gap: 8px;
}

.close {
  display: none;
}

.open {
  display: block;
}

.open-element {
  display: flex;
}

.form__verified {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-container__login-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffa349;
}
