.banner {
  @include flex-all-center;

  overflow: hidden;
  border-radius: rem(10);
  min-height: rem(187);
  background-color: var(--grey-6);

  &__inner {
  }

  &__title {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--white);
  }
}

@include mq('lg') {
  .banner {
    display: none;
  }
}
